.gradle/
build/
.idea/*
!.idea/codeStyles
!.idea/inspectionProfiles
lib/
dev.properties
dev_storage
local/
local*/
local_*/
.vs
.vscode
obj
out
bin
.DS_Store
ComponentsGenerated.wxs
!dist/javafx/**/lib
!dist/javafx/**/bin
i18n.gradle
dist/javafx/**
gradle.properties
hs_err_*
