.open-button .ikonli-font-icon {
 -fx-icon-code: "mdi-content-save";
}

.save-button .ikonli-font-icon {
 -fx-icon-code: "mdi-content-save";
}

.jump-to-def-button .ikonli-font-icon {
    -fx-icon-code: "mdi-arrow-right-bold-circle-outline";
}

.clear-button .ikonli-font-icon {
 -fx-icon-code: "mdi-filter-remove";
}

.branch-button .ikonli-font-icon {
    -fx-icon-code: "mdi-source-branch";
}

.help-button .ikonli-font-icon {
   -fx-icon-code: "mdi-help-circle-outline";
  }

.eu4se-button .ikonli-font-icon {
   -fx-icon-code: "mdi-auto-fix";
  }

.ikonli-font-icon {
    -fx-icon-color: -fx-text-inner-color;
}

.delete-button .ikonli-font-icon {
    -fx-icon-code: "mdi-delete";
}

.key-button .ikonli-font-icon {
    -fx-icon-code: "mdi-key";
}

.value-button .ikonli-font-icon {
    -fx-icon-code: "mdi-tag-text-outline";
}

.preview .ikonli-font-icon {
    -fx-icon-code: "mdi-tooltip-outline";
}

.needed-content .ikonli-font-icon {
 -fx-icon-code: "mdi-folder-multiple-outline";
}

.report-button .ikonli-font-icon {
    -fx-icon-code: "mdi-alert-circle-outline";
}

.notes-button .ikonli-font-icon {
    -fx-icon-code: "mdi-tooltip";
}

.case-sensitive-button .ikonli-font-icon {
    -fx-icon-code: "mdi-case-sensitive-alt";
}

.edit-button .ikonli-font-icon {
    -fx-icon-code: "mdi-pencil";
}

.achievement-button .ikonli-font-icon {
    -fx-icon-code: "mdi-trophy";
}

.copy-button .ikonli-font-icon {
    -fx-icon-code: "mdi-content-copy";
}

.kill-button .ikonli-font-icon {
    -fx-icon-code: "mdi-stop";
}

.import-button .ikonli-font-icon {
    -fx-icon-code: "mdi-import";
}

.convert-button .ikonli-font-icon {
    -fx-icon-code: "mdi-step-forward-2";
}

.launch-button .ikonli-font-icon {
    -fx-icon-code: "mdi-play";
}

.continue-button .ikonli-font-icon {
    -fx-icon-code: "mdi-play";
}

.launcher-button .ikonli-font-icon {
    -fx-icon-code: "mdi-play-circle-outline";
}

.folder {
    -fx-icon-code: "mdi-folder";
-fx-font-size: 4em;
}

.search-icon .ikonli-font-icon {
    -fx-icon-code: "mdi-magnify"
}

.filter-button .ikonli-font-icon {
    -fx-icon-code: "mdi-filter"
}

.upload-button .ikonli-font-icon {
    -fx-icon-code: "mdi-trophy"
}

.analyze-button .ikonli-font-icon {
    -fx-icon-code: "mdi-chart-bar"
}

.melt-button .ikonli-font-icon {
    -fx-icon-code: "mdi-stove"
}

.map-button .ikonli-font-icon {
    -fx-icon-code: "mdi-map"
}

.export-button .ikonli-font-icon {
    -fx-icon-code: "mdi-export";
}

.browse-button .ikonli-font-icon {
     -fx-icon-code: "mdi-magnify";
}

.savegame .ikonli-font-icon {
    -fx-icon-code: "mdi-clipboard-outline";
}

.alert-icon .ikonli-font-icon {
    -fx-icon-code: "mdi-alert-outline";
}

.jfx-button {
     -jfx-button-type: FLAT;
}

.switch-game-button .ikonli-font-icon {
   -fx-icon-code: "mdi-vector-arrange-below";
}

.xbox-button .ikonli-font-icon {
   -fx-icon-code: "mdi-xbox";
}

.delete-install-button .ikonli-font-icon {
   -fx-icon-code: "mdi-close";
}

