.campaign-top-bar {
-fx-padding: 0.5em 1.7em 0.5em 1em;
-fx-font-size: 1.15em;
-fx-background-color: white;
-fx-border-color: #EEEEEEFF;
-fx-border-width: 0 0 0.1em 0;
}

.campaign-top-bar .text-field {
 -jfx-label-float: true;
-fx-padding: 0.2em 0.4em 0.2em 0.4em;
-jfx-unfocus-color: transparent;
-fx-background-color: #AAAAAA44;
}

.campaign-list-entry .tag-icon {
-fx-min-width: 5em;
-fx-max-width: 5em;
-fx-min-height: 4em;
-fx-max-height: 4em;
}


.campaign-list .jfx-list-view {
-fx-background-color: #FFFFFFDD;
-fx-min-width: 20em;
 -fx-padding: 0;
-fx-background-insets: 0;
-fx-background-radius: 0;
-fx-focus-color: transparent;
}

.campaign-list .list-cell {
-fx-padding: 0.5em;
-fx-focus-color: transparent;
}

.campaign-list-entry {
-fx-spacing: 0.3em;
}


.campaign-list-entry .text-field {
-fx-font-size: 1.15em;
-fx-padding: 0.3em 0.3em 0.3em 0.3em;
-jfx-unfocus-color: transparent;
-fx-background-color: #AAAAAA44;
}

.campaign-list-entry .date {
-fx-padding: 0.3em 0.3em 0.3em 0.3em;
-fx-font-size: 1.15em;
}

.campaign-list-entry .delete-button {
-fx-font-size: 1.2em;
}

.campaign-list-entry {
-fx-padding: 0.25em;
-fx-max-width: 18em;
}
