.ck3 .skill-icon {
-fx-min-width: 2.5em;
-fx-max-width: 2.5em;
-fx-min-height: 2.5em;
-fx-max-height: 2.5em;
}

.ck3 .house-icon {
-fx-min-width: 6.5em;
-fx-max-width: 6.5em;
-fx-min-height: 6.5em;
-fx-max-height: 6.5em;
}

.ck3 .ruler-icon {
-fx-min-width: 2.5em;
-fx-max-width: 2.5em;
-fx-min-height: 2.5em;
-fx-max-height: 2.5em;
}

.ck3 .ruler-name {
-fx-font-size: 1.1em;
}

.ck3 .tag-icon {
-fx-min-width: 2.5em;
-fx-max-width: 2.5em;
-fx-min-height: 2.5em;
-fx-max-height: 2.5em;
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.ck3 .titles {
      -fx-background-color: #ba9f5c;
}

.ck3 .claims {
      -fx-background-color: #966e6a;
}