.editor-grid {
  -fx-padding: 0;
  -fx-alignment: center;
  -fx-font-size: 12pt;
}

.editor-grid .pane {
  -fx-padding: 0.35em 0.25em 0.35em 0.6em;
}

.editor-grid .odd {
  -fx-background-color: #EAEAEAFF;
}

.editor-grid .preview {
  -fx-font-family: "monospaced";
}

.editor-filter-bar {
  -fx-padding: 0.5em;
  -fx-background-color: #00ad1533;
-fx-border-color: #AAAAAAFF;
-fx-border-width: 0.05em 0 0 0;
}

.editor .menu {
  -fx-font-size: 10pt;
}

.editor-nav-bar-container {
  -fx-padding: 0.4em;
-fx-border-color: #AAAAAAFF;
  -fx-background-color: #00ad1533;
-fx-border-width: 0 0 0.05em 0;
  -fx-font-size: 11pt;
}

.editor-nav-bar {
  -fx-background-color: #EEEEEEFF;
-fx-border-color: #AAAAAAFF;
-fx-border-width: 0.05em;
  -fx-padding: 0 0.3em 0 0.3em;
}

.editor-nav-bar-container .jfx-button {
  -fx-padding: 0.6em;
}

.editor-nav-bar .jfx-button {
  -fx-padding: 0.2em 0.2em 0.2em 0.2em;
}

.editor-grid .jfx-button {
-fx-padding: 0.25em 0.2em 0.25em 0.2em;
}

.editor-grid .text-field {
-fx-padding: 0.25em 0.2em 0.25em 0.2em;
-fx-border-width: 0 1em 0 1em;
-jfx-unfocus-color: transparent;
}

.jfx-color-picker .color-label {
-fx-padding: 0;
-fx-alignment: center;
}

.list-expand-button .ikonli-font-icon {
    -fx-icon-code: "mdi-json";
}

.coa-button .ikonli-font-icon {
    -fx-icon-code: "mdi-eye";
}


.nav-back-button .ikonli-font-icon {
    -fx-icon-code: "mdi-arrow-left-bold";
}

.nav-forward-button .ikonli-font-icon {
    -fx-icon-code: "mdi-arrow-right-bold";
}

.coa-options {
-fx-padding: 0.5em;
  -fx-background-color: #EEEEEEFF;
-fx-border-color: #CCCCCCFF;
-fx-border-width: 0.1em;
}