.savegame-notes * {
-fx-spacing: 0.75em;
}

.content-dialog {
 -fx-padding: 1em 0 0 0.7em;
}

.settings-content {
 -fx-padding: 1.25em;
}

.settings-container {
-fx-border-color: #CCCCCCFF;
-fx-border-width: 0 0 0.075em 0;
}


.loading {
-fx-background-color: #FFFFFFcc;
}

.file-drag {
-fx-background-color: #FFFFFFcc;
-fx-font-size: 10em;
}

.file-drag .ikonli-font-icon {
    -fx-opacity: 0.6;
    -fx-icon-code: "mdi-file-import";
}

.loading > .jfx-spinner {
-jfx-radius: 2.15em;
}

.no-campaign {
-fx-background-color: #FFFFFFAA;
-fx-padding: 2em;
}

.jfx-list-cell:selected .label {
 -fx-text-fill: white;
 -fx-text-inner-color: white;
}

.jfx-list-cell:selected {
 -fx-text-fill: white;
 -fx-text-inner-color: white;
}


.jfx-list-cell {
 -fx-text-fill: #333;
 -fx-text-inner-color: #333;
    -fx-focus-color: transparent;
}

.jfx-list-view {
    -jfx-vertical-gap: 0.4em;
    -fx-focus-color: transparent;
}

.jfx-button {
-fx-padding: 0.17em 0.35em 0.17em 0.35em;

}

