.open-button .ikonli-font-icon {
                 -fx-icon-code: "mdi-content-save";
                 -fx-icon-color: white;
             }

.content .ikonli-font-icon {
 -fx-icon-code: "mdi-folder-multiple-outline";
}

.delete-button .ikonli-font-icon {
    -fx-icon-code: "mdi-delete";
    -fx-icon-color: white;
}

.achievement-button .ikonli-font-icon {
    -fx-icon-code: "mdi-trophy";
    -fx-icon-color: white;
}

.kill-button .ikonli-font-icon {
    -fx-icon-code: "mdi-stop";
}

.import-button .ikonli-font-icon {
    -fx-icon-code: "mdi-import";
}

.launch-button .ikonli-font-icon {
    -fx-icon-code: "mdi-play";
}

.export-button .ikonli-font-icon {
    -fx-icon-code: "mdi-export";
}

.browse-button .ikonli-font-icon {
     -fx-icon-code: "mdi-content-save";
     -jfx-button-type: RAISED;
}

.savegame .ikonli-font-icon {
    -fx-icon-code: "mdi-clipboard-outline";
}

.alert-icon .ikonli-font-icon {
    -fx-icon-code: "mdi-alert-outline";
}

.jfx-button {
     -jfx-button-type: FLAT;
}

.switch-game-button .ikonli-font-icon {
   -fx-icon-code: "mdi-vector-arrange-below";
}

