

.campaign-list-entry .tag-icon {
-fx-min-width: 4em;
-fx-max-width: 4em;
-fx-min-height: 4em;
-fx-max-height: 4em;
}


.campaign-list {
-fx-background-color: #FFFFFFDD;
-fx-min-width: 20em;
 -fx-padding: 0;
-fx-background-insets: 0;
-fx-background-radius: 0;
-fx-focus-color: transparent;
}

.campaign-list .list-cell {
-fx-padding: 0.5em;
-fx-focus-color: transparent;
}


.campaign-list-entry .text-field {
-fx-font-size: 1.15em;
-fx-padding: 0.3em 0.3em 0.3em 0.3em;
-jfx-unfocus-color: transparent;
}

.campaign-list-entry .date {
-fx-padding: 0.3em 0.3em 0.3em 0.3em;
-fx-font-size: 1.15em;
}

.campaign-list-entry {
-fx-padding: 0.25em;
-fx-max-width: 18em;
}
