

.entry {
-fx-background-color: #77777711;
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.entry-bar {
-fx-padding: 0.4em 0.4em 0.4em 0.4em;
-fx-spacing: 0.5em;
}

.entry-bar .tag-bar {
-fx-spacing: 0.5em;
}

.unknown-tag {
 -fx-text-fill: white;
-fx-font-size: 1.5em;
}

.entry-bar .text-field {
-fx-max-width: 20em;
-fx-font-size: 1.15em;
 -fx-text-fill: white;
 -jfx-label-float: true;
-fx-padding: 0.4em 0.4em 0.4em 0.4em;
-jfx-unfocus-color: #00000000;
}

.entry-bar .button-bar {
-fx-spacing: 0.5em;
-fx-font-size: 1.35em;
}

.entry-list {
-fx-focus-color: transparent;
}

.entry-loading {
-fx-max-width: 2.15em;
-fx-max-height: 2.15em;
}

.entry-bar .tag-icon {
-fx-min-height: 2.15em;
-fx-max-height: 2.15em;
-fx-border-radius: 0.15em;
}

.entry-bar .date {
-fx-font-size: 1.15em;
-fx-padding: 0.3em 0.3em 0.3em 0.3em;
 -fx-text-fill: white;
-fx-background-radius: 0.15em;
}

.ruler-info {
-fx-background-color: #777777;
-fx-padding: 0.4em;
-fx-background-radius: 0.2em;
 -fx-text-fill: white;
}

.ruler-icon{
-fx-pref-width: 1em;
-fx-pref-height: 1em;
}

.power-icon {
-fx-pref-width: 1em;
-fx-pref-height: 1em;
}




.node-container {
-fx-padding: 0.6em 0.4em 0.4em 0.4em;
}


.node-container .tag-icon {
-fx-min-width: 2em;
-fx-max-width: 2em;
-fx-min-height: 2em;
-fx-max-height: 2em;
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.node-container .image-icon {
-fx-min-width: 2em;
-fx-max-width: 2em;
-fx-min-height: 2em;
-fx-max-height: 2em;
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.node-container .node {
-fx-background-radius: 0.1em;
-fx-background-color: #ffffff55;
-fx-padding: 0.3em;
}

.node-container .node-content {
-fx-background-radius: 0.1em;
}

.node-container .war {
   -fx-background-color: #bf4540;
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.node-container .diplomacy-row {
-fx-spacing: 0.5em;
}

.compatible {
     -fx-background-color: #00ee0055;
}

.incompatible {
     -fx-background-color: #ff000055;
}

.alliance {
     -fx-background-color: #3d71a0;
}

.ruler {
}

.guarantee {
      -fx-background-color: #6f3b73;
}

.marriage {
      -fx-background-color: #6f3b73;
}
