
.war {
   -fx-background-color: #bf4540;
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.diplomacy-row {
-fx-spacing: 0.8em;
}

.diplomacy-row * {
-fx-spacing: 0.3em;
}

.compatible {
     -fx-background-color: #00ee0055;
}

.unknown-compatible {
     -fx-background-color: #99990077;
}

.incompatible {
     -fx-background-color: #ff000055;
}

.alliance {
     -fx-background-color: #3d71a0;
}