
.status-bar {
-fx-border-color: #99ff99CC;
-fx-background-color: #99ff9988;
-fx-padding: 0.7em 1em 0.7em 1em;
-fx-min-height: 4em;
-fx-max-height: 4em;
-fx-border-width: 0.1em 0 0 0;
}

.status-bar .text {
-fx-font-size: 1.15em;
}

.status-compatible-unknown {
-fx-border-color: #999922AA;
-fx-background-color: #99992299;
}

.status-incompatible {
-fx-border-color: #994455AA;
-fx-background-color: #99445599;
}

.status-running {
-fx-border-color: #449955BB;
-fx-background-color: #44995599;
}

.status-bar .image-icon {
-fx-min-width: 2.15em;
-fx-max-width: 2.15em;
-fx-min-height: 2.15em;
-fx-max-height: 2.15em;
}