.import-content {
-fx-padding: 0;
-fx-spacing: 0;
-fx-pref-width: 30em;
}

.import-content .scroll-pane {
-fx-max-height: 600px;
}

.import-content .filter-bar {
-fx-padding: 0.5em 1em 0.5em 1em;
}

.import-content .filter-bar .text-field {
-fx-padding: 0.1em 0.3em 0.1em 0.3em;
}

.import-targets {
-fx-padding: 1em;
-fx-spacing: 0.4em;
}

.select-all {
-fx-padding: 0.5em 1em 0.5em 1em;
}